#row{
    display: grid;
    gap: 0 !important;
    grid-auto-flow: column;
    grid-auto-columns: 26%;
    margin-left: 8px;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: rgb(138, 138, 138);
    border-radius: 20px;
}
::-webkit-scrollbar-track{
    background: rgb(78, 78, 78);
    border-radius: 20px;
    width: 20%;

}
#comp{
    width: 100%;
}